html{
  background-color: cornflowerblue;
}
.brand{
  height: 100px;
  background-color: cornflowerblue;
}
.header{
  height: 380px;
}
.ready{
  margin-top: -260px;
  margin-left: 65px;
}
h1, h4{
  color: white;
}
.main{
  height: 950px;
  margin-top: 150px;
}
/*.info, .text{
  border-style: inset;
  border-color: cornflowerblue;
  border-width: medium;
}*/
.text{
  margin-top: 125px;
}
.info{
  margin-top: -45px;
  margin-left: 50px;
}
.contact{
  background-color: white;
  box-shadow: 10px 10px 5px #888888;
  text-align: left;
}
.bottom{
  margin-top: 50px;
}
.social, ul, li, a{
  margin-left: 75px;
  float: left;
  display: block;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}
.indent{
  margin-left: 150px;
}
.in{
  margin-left: 1px;
}
.button {
	  width: 500px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
